/* Reset básico de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

h3{
    padding: 2.5rem 0rem 0rem 5rem;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.col-md-2{
    padding: 5rem 0rem 0rem 2rem !important;
    height:auto;
}


.nav-link :hover{
    color: black;
}

.navbar-toggler {
    background-color: #ffffff;  /* Cambia el color de fondo */
    border: 0rem solid transparent;  /* Remueve o cambia el borde */
    padding: .25rem .75rem;  /* Ajusta el padding para cambiar el tamaño */
}


.container-fluid{
    padding: 0rem;
}

.nav-link{
    font-size: 0.80rem;
    color: rgba(54, 54, 54, 0.651);
    font-family: "Nunito Sans", sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    outline: none; /* Elimina el contorno que se muestra cuando el botón está enfocado */
    box-shadow: none; /* Elimina cualquier sombra de caja que pueda aplicarse */
    border-color: transparent; /* Asegura que el borde sea transparente */
}

.navbar h3{
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    padding: 0.62rem 0rem 0rem 1rem;
}

.col-10{
    margin: 2.18rem 0rem 1rem 0rem;
    padding: 1.56rem 0rem 1.56rem 0rem;
}

.col-10 .row .col-12{
    padding: 0;
}

.col-10 .row .col-6{
    padding: 0;
}

.img-fluid {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
}

.row .col-4{
    padding: 0;
}

.row .col-4:nth-child(1){
    padding-right: 0.37rem;
}

.row .col-4:nth-child(2){
    padding-right: 0.18rem;
    padding-left: 0.18rem;
}

.row .col-4:nth-child(3){
    padding-left: 0.37rem;
}

.col-10 .row{
    padding-bottom: 0.5rem;
}

.row .col-6:first-child{
    padding-right: 0.31rem;
}

.row .col-6:last-child{
    padding-left: 0.31rem;
}

.navbar .row{
    padding-bottom: 0.62rem;
}

.navbar .col-6:first-child{
    padding-right: 0.18rem;
}

.navbar .col-6:last-child{
    padding-left: 0.18rem;
}

.navbar .container-fluid{
    padding-top: 0.62rem;
    padding-bottom: 1.25rem;
}

.col-md-10 p{
    font-family: "Nunito Sans", sans-serif;
    font-style: oblique;
    font-size: 0.8rem;
    color: black;
    margin-top: 5rem;
}

.mail, .inst {
    display: inline-block;
    margin-bottom: 1rem;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
}

.col-md-10 .cande{
    width: 15rem;
    height: auto;
}

.col-12 .mail, .col-12 .inst{
    padding-left: 2rem;
}

.col-12 p{
    font-family: "Nunito Sans", sans-serif;
    font-style: oblique;
    font-size: 0.9rem;
    color: black;
    margin-top: 5rem;
    padding-left: 2rem;    
    padding-right: 2rem;
}

.col-12 .mail, .col-12 .inst{
    padding-left: 2rem;
}

.col-12 .cande{
    padding-left: 2rem;
    padding-bottom: 6.5rem;
    width: 18rem;
    height: auto;
}
